<div class="card border-0 shadow my-5">
    <div class="card-body p-5">
        <h1 class="font-weight-light">Text Analytics API</h1>
        <form id="form-keyword-extraction">
            <div class="form-group">
                <label for="text-area-keyword-extraction">Ingrese el texto a analizar:</label>
                <textarea class="form-control" id="text-area-keyword-extraction" rows="3" required minlength="21"
                    maxlength="5120"></textarea>
                <small class="form-text text-muted">Nota: Solo se permite texto de más de 20 caracteres.</small>
            </div>
            <button id="btn-submit-keyword-extraction" type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <div id="divRespuesta" class="alert alert-success mt-4 p-4" role="alert">
        </div>

    </div>
</div>

<div class="card border-0 shadow my-5">
    <div class="card-body p-5">
        <h1 class="font-weight-light">Text Analytics API</h1>
        <p class="lead">
            In this snippet, the background image is fixed to the body element.
            Content on the page will scroll, but the image will remain in a
            fixed position!
        </p>
        <p class="lead">Scroll down...</p>
        <div style="height: 700px;"></div>
        <p class="lead mb-0">You've reached the end!</p>
    </div>
</div>